{% extends 'account/base.html' %}

{% block content %}
<h2>Sign Up!</h2>

<form method="post">
<div class="container">
<div class="row g-3">
    <div class="col-12">
      <label for="id_username" class="form-label">User: </label>
        {{ form.username }}
        {% csrf_token %}
    </div>
    <div class="col-12">
    <label for="id_password1" class="form-label">Password: </label>
        {{ form.password1 }}
    </div>
    <div class="col-12">
    <label for="id_password2" class="form-label">Repeat your password: </label>
        {{ form.password2 }}
    </div>
    <div class="col-12">
        <button class="btn btn-outline-secondary" type="submit" id="description_data">Register</button>
    </div>
</div>
</div>
</form>

{% endblock %}