<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}TO-DO List{% endblock %}</title>
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <a href="{% url "task_app:create_task" %}">Create a new task</a><br>
    <a href="{% url "task_app:index" %}">Return to index</a><br>
    <a href="{% url "task_app:archive_all_tasks" %}">Archive all tasks</a><br>
    <a href="{% url "task_app:show_all_archived" %}">Show all archived tasks</a><br>
</body>
</html>
